name: SchemaCrawler Job to Generate mermaid Diagram

on: [push]

jobs:
  schemacrawler-job:
    runs-on: ubuntu-latest

    name: SchemaCrawler Job to Generate mermaid Diagram
    steps:

      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v4

      - id: schemacrawler
        name: Run SchemaCrawler Action with specified command-line
        uses: schemacrawler/SchemaCrawler-Action@v17.5.0
        with:
          entrypoint: /schemacrawler.sh
          args: >
            --server=sqlite
            --database=schemacrawler.sqlite
            --info-level=standard
            --command script
            --tables "Authors|Books|BookAuthors"
            --script-language python --script ./.github/scripts/mermaid.py
            --output-file mermaid-er.mmd
            --log-level CONFIG
        env:
          USER: user-possibly-from-secrets
          PASSWORD: password-possibly-from-secrets

      - id: upload-mermaid-er
        name: Upload SchemaCrawler mermaid diagram
        uses: actions/upload-artifact@v4
        with:
          name: mermaid-er
          path: mermaid-er.*
