name: SchemaCrawler Job to Create Schema Diagram

on: [push]

jobs:
  schemacrawler-job:
    runs-on: ubuntu-latest

    name: SchemaCrawler Job to Create Schema Diagram
    steps:

      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v4

      - id: schemacrawler
        name: Run SchemaCrawler Action with specified command-line
        uses: schemacrawler/SchemaCrawler-Action@v17.1.7
        with:
          entrypoint: /schemacrawler.sh
          args: >
            --server=sqlite
            --database=schemacrawler.sqlite
            --user:env USER
            --password:env PASSWORD
            --info-level=standard
            --command=brief
            --output-file database-diagram.png
            --log-level CONFIG
        env:
          USER: user-possibly-from-secrets
          PASSWORD: password-possibly-from-secrets

      - id: upload-database-diagram
        name: Upload SchemaCrawler database diagram
        uses: actions/upload-artifact@v4
        with:
          name: database-diagram
          path: database-diagram.png
