name: SchemaCrawler Job to Generate dbdiagram.io Diagram

on: [push]

jobs:
  schemacrawler-job:
    runs-on: ubuntu-latest

    name: SchemaCrawler Job to Generate dbdiagram.io Diagram
    steps:

      - id: checkout
        name: Checkout repository
        uses: actions/checkout@v2

      - id: schemacrawler
        name: Run SchemaCrawler Action with specified command-line
        uses: schemacrawler/SchemaCrawler-Action@v16.16.02
        with:
          entrypoint: /schemacrawler.sh
          args: --server=sqlite --database=schemacrawler.sqlite --info-level=standard --command  script --tables "Authors|Books|BookAuthors" --script-language python --script dbml.py --output-file dbml-er.dbml --log-level=FINE
        env:
          USER: user-possibly-from-secrets
          PASSWORD: password-possibly-from-secrets

      - id: upload-dbml
        name: Upload SchemaCrawler dbdiagram.io diagram
        uses: actions/upload-artifact@v2
        with:
          name: dbml-er
          path: dbml-er.*

      - id: check-success
        name: Fail the entire job if SchemaCrawler dbdiagram.io diagram generation has failures
        run: |
          [ ${{ steps.schemacrawler.outputs.exit_status }} -eq 0 ] && echo "SchemaCrawler dbdiagram.io diagram generation succeeded" || echo "SchemaCrawler dbdiagram.io diagram generation failed"
          [ ${{ steps.schemacrawler.outputs.exit_status }} -eq 0 ] || exit 1

